### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/workspace.xml
.idea/Diplom_1.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
